{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/hasker_favicon.ico' %}">
    <title>{% block title %}
      HASKER
    {% endblock %}</title>
</head>
<body class="bg-light text-dark">
  {% block navbar_base %}
  <nav class="navbar border-bottom border-5 border-dark navbar-expand-lg" style="background-color: #eff5f5;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">HASKER<img src="{% static 'img/monocle.ico' %}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <form class="d-flex mt-3" role="search" action="/" method="get">
          <input class="form-control me-2" type="text" placeholder="Введите" name="search">
          <button class="btn btn-secondary" type="submit">Найти</button>
        </form>
        
    </div>
    <div class="d-flex mt-3">
      <a href="/" style="margin-left: 15px; margin-right: 10px;">log in</a>
      <a href="/" style="margin-left: 15px; margin-right: 10px;" class="btn btn-secondary">sign up</a>
    </div>
  </nav>
  {% endblock  %}

<div class="container-md bd-gutter mt-3 my-md-4 bd-layout">

{% block body %}
{% endblock %}

</div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>